[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
	branch = master
[submodule "third_party/sqlite_orm"]
	path = third_party/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm/
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
