[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
	branch = master
[submodule "thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
